.btn {
  transition: padding 0.2s ease;

  &.loading {
    position: relative;
    color: transparent;

    &:before {
      content: 'Laden ...';
      position: absolute;
      color: white;
    }
  }
}
